---
layout: default
title: Join GitLab
twitter_image: '/images/tweets/teamgitlab.jpg'
suppress_header: true
manual_cookiebot: true
extra_css:
  - jobs.css
---

.container.listing-container
  .content.tile{id: 'opportunities'}
    :markdown
      ## Careers at GitLab

      Interested in joining our [all-remote team](https://about.gitlab.com/company/culture/all-remote/)? GitLab is a very unique place to work, and we’re taking an equally unique approach to growing [our team](https://about.gitlab.com/company/team/org-chart/). Learn more about our talent acquisition  model and what it’s like to work here on our [Jobs FAQ page](https://about.gitlab.com/jobs/faq/).
      <br><br>
      Here’s a list of the active roles we’re sourcing for now. To be considered for a career opportunity at GitLab, please join our Talent Community.
      <br>

    %div.u-flex.justify-center
      = link_to "https://boards.greenhouse.io/gitlab/jobs/4700367002?gh_src=d865c64f2us", class: "btn cta-btn accent" do
        Join Our Talent Community

    <br><br>  
    :markdown

      | Position Title | [Job Family](https://about.gitlab.com/handbook/hiring/job-families/) Link | Internal Reference Number |
      |--------------------------|-----------------|-----------------|
      | Director of Legal, Employment | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us/) | [1061](https://gitlab.greenhouse.io/sdash/4450644002) |
      |  Director of Legal, Commercial | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us) | [1174](https://gitlab.greenhouse.io/sdash/4498575002) |
      |  Director of Legal, Corporate | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us) | [1063](https://gitlab.greenhouse.io/sdash/4450690002) |
      |  International Tax Manager | [What we're looking for](https://about.gitlab.com/job-families/finance/international-tax-manager/) | [719](https://gitlab.greenhouse.io/sdash/4297440002) |
      |  Integrations Engineer |  [What we're looking for](https://about.gitlab.com/job-families/finance/integrations-engineer/) | [1252](https://gitlab.greenhouse.io/sdash/4536034002) |
      |  Research Sr Mgr/Director |  [What we're looking for](https://about.gitlab.com/job-families/engineering/ux-research-manager/) | [1223](https://gitlab.greenhouse.io/sdash/4527602002) |
      |  Backend Engineer, Secure C# | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/) | [665-12](https://gitlab.greenhouse.io/sdash/4062541002) |
      |  Senior Manager, Digital Experience | [What we're looking for](https://about.gitlab.com/job-families/marketing/marketing-web-developer-designer/) | [1229](https://gitlab.greenhouse.io/sdash/4528278002) |
      |  VP of Demand Generation | [What we're looking for](https://about.gitlab.com/job-families/marketing/demand-gen-marketing) | [1103](https://gitlab.greenhouse.io/sdash/4468281002) |
      |  Senior Channel Marketing Manager | [What we're looking for](https://about.gitlab.com/job-families/marketing/product-marketing-manager/) | [1265](https://gitlab.greenhouse.io/sdash/4540499002) |
      |  Digital Producer | [What we're looking for](https://about.gitlab.com/job-families/marketing/digital-production-manager/) | [1275](https://gitlab.greenhouse.io/sdash/4547284002) |
      |  Revenue Accountant | [What we're looking for](https://about.gitlab.com/job-families/finance/revenue-accounting/) | [1224](https://gitlab.greenhouse.io/sdash/4527946002) |
      |  Senior Director, Enterprise Applications | [What we're looking for](https://about.gitlab.com/job-families/finance/senior-director-enterprise-applications/) | [1241](https://gitlab.greenhouse.io/sdash/4531546002) |
      |  Sales Development Representative, APAC, Japanese speaking | [What we're looking for](https://about.gitlab.com/job-families/marketing/sales-development-representative/) | [1208](https://gitlab.greenhouse.io/sdash/4522421002) |
      |  Support Engineer (Americas Central) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [929](https://gitlab.greenhouse.io/sdash/4198900002) |
      |  Support Engineer (Americas East) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer/#hiring-process) | [336](https://gitlab.greenhouse.io/sdash/4190543002) |
      |  Support Engineer (Americas West) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [738](https://gitlab.greenhouse.io/sdash/4198894002) |
      |  Support Engineer (APAC) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [737](https://gitlab.greenhouse.io/sdash/4179087002) |
      |  Support Engineering Manager (Americas) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-management/) | [1111](https://gitlab.greenhouse.io/sdash/4469289002) |
      |  Support Engineer (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) | [736](https://gitlab.greenhouse.io/sdash/4182462002) |
      |  Support Engineering Manager (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-management/) | [1202](https://gitlab.greenhouse.io/sdash/4516895002) |
      |  Support Operations Specialist | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-operations-specialist/) | [966](https://gitlab.greenhouse.io/sdash/4400636002) |
      |  Support Operations Manager | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-operations-specialist/) | [1126](https://gitlab.greenhouse.io/sdash/4481815002) 
      |  Security Engineer, Security Operations | [What we're looking for](https://about.gitlab.com/job-families/engineering/security-engineer/) | [842](https://gitlab.greenhouse.io/sdash/4334952002) |
      |  Manager, Solutions Architects (West Enterprise) | [What we're looking for](https://about.gitlab.com/job-families/sales/solutions-architect/) | [1260](https://gitlab.greenhouse.io/sdash/4538033002) |
      |  Professional Services Technical Instructor | [What we're looking for](https://about.gitlab.com/job-families/sales/professional-services-engineer/) | [1142](https://gitlab.greenhouse.io/sdash/4487578002) |
      |  Area Sales Manager, Enterprise (Pacific Northwest) | [What we're looking for](https://about.gitlab.com/job-families/sales/area-sales-manager/) | [1196](https://gitlab.greenhouse.io/sdash/4510400002) |
      |  Director, Channel Sales (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/sales/channel-sales-manager/) | [1245](https://gitlab.greenhouse.io/sdash/4535430002) |
      |  Area Sales Manager, Enterprise (Northern Europe) | [What we're looking for](https://about.gitlab.com/job-families/sales/area-sales-manager/) | [916](https://gitlab.greenhouse.io/sdash/3160000013) |
      |  Strategic Account Leader (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) | [913](https://gitlab.greenhouse.io/sdash/4372515002) |
      |  Strategic Account Leader (Germany) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) | [1050](https://gitlab.greenhouse.io/sdash/3160000045) | 
      |  Channel Sales Manager (Japan) | [What we're looking for](https://about.gitlab.com/job-families/sales/channel-sales-manager/) | [1098](https://gitlab.greenhouse.io/sdash/4467821002) |
      |  Solutions Architect (Japan) | [What we're looking for](https://about.gitlab.com/job-families/sales/solutions-architect/) | [1093](https://gitlab.greenhouse.io/sdash/4465723002) |
      |  Strategic Account Leader (Japan) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) | [1091](https://gitlab.greenhouse.io/sdash/4465208002) |
      |  Channel Services Manager - GTM | [What we're looking for](https://about.gitlab.com/job-families/sales/channel-services/) | [1276](https://gitlab.greenhouse.io/sdash/4547486002) |
      |  Public Sector Area Sales Manager - DOD | [What we're looking for](https://about.gitlab.com/job-families/sales/area-sales-manager/) | [1264](https://gitlab.greenhouse.io/sdash/4539794002) |
      |  Public Sector Professional Services Engineer | [What we're looking for](https://about.gitlab.com/job-families/sales/professional-services-engineer/) | [992](https://gitlab.greenhouse.io/sdash/4413822002) |
      |  Public Sector Strategic Account Leader - DOD, Navy | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) | [1186](https://gitlab.greenhouse.io/sdash/4504799002) |
      |  Public Sector Channel Manager | [What we're looking for](https://about.gitlab.com/job-families/sales/channel-sales-manager/) | [1263](https://gitlab.greenhouse.io/sdash/4538857002) |
      
      If you are a current team member, please reference [this page](https://about.gitlab.com/handbook/hiring/interviewing/#internal-applicants) for additional information and a link to the internal job board. If you'd like to submit a referral, please reference [this page](https://about.gitlab.com/handbook/hiring/referral-process/#submitting-a-referral) on using the Referral Booster Slack app.

    %div.u-flex.justify-center
      = link_to "https://boards.greenhouse.io/gitlab/jobs/4700367002?gh_src=d865c64f2us", class: "btn cta-btn accent" do
        Join Our Talent Community
